.job-title-icon {
    width: 30px;
    height: 30px;
    border: 2px solid #2e6da4;
    border-radius: 4px;
    background-color: #337ab7;
    display: inline-block;
    color: white;
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    border: 2px solid white;
}

.well.profile-block {
    color: #fff;
}

.well.profile-block h4 {
    margin-top: 0;
}

.well.profile-description {
    background-color: #5cb85c;
    border-color: #4cae4c
}
    
.well.contact-info {
    background-color: #5bc0de;
    border-color: #46b8da
}
